################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/VeryLargeTextFile/bin/
/src/VeryLargeTextFile/obj
/src/VeryLargeTextFile.Tests/bin/Release/net8.0
/src/VeryLargeTextFile.Tests/obj
/src/VeryLargeTextFile.Tests/bin/Debug/net8.0
