################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/VeryLargeTextFile/bin/
/src/VeryLargeTextFile/obj
/src/VeryLargeTextFile.Tests/bin/
/src/VeryLargeTextFile.Tests/obj
