################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/VeryLargeTextFile/bin/Debug/net8.0
/src/VeryLargeTextFile/obj
